[submodule "project/libs/utility_belt"]
	path = project/libs/utility_belt
	url = git@github.com:stric9r/utility_belt.git
[submodule "project/libs/hd44780_pcf8574"]
	path = project/libs/hd44780_pcf8574
	url = git@github.com:stric9r/HD44780_PCF8574.git
